@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
        --fundo-principal: #F3F7FA;
        --fundo-secundário: #E1EDF5;
        --azul-claro: #BFD9EA;
        --azul-médio-suave: #8FBFD9;;
        --azul-destaque: #5FA8D3;
        --texto-principal: #2E4057;

        --fonte-principal: "Open Sans", sans-serif;
        --fonte-titulo: "DM Serif Display", serif;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }

    body {
        background-color: var(--fundo-secundário);
        width: 100vw; /* o body não precisa de altura definida porque vai impedir a rolagem da págino com o header grudado*/
        font-size: 1.3em;
        font-family: var(--fonte-principal);
        line-height: 2em;
        text-align: justify;
       
    }

    header {
        background-color: var(--azul-destaque);
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.247);
        position: sticky;
        top: 0;
        z-index: 1000;
    }

  
    ul.lista-header {
        list-style: none;
        display: flex;
        gap: 20px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.683);
    }

    ul.lista-header a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: 0.5s;
    }

    ul.lista-header a:hover {
        text-decoration: underline;
        color: var(--texto-principal);
        cursor: pointer;

    }

    main {
        background-color: var(--fundo-secundário);
        display: grid;
        grid-template-columns: 1fr
        
    }

   section {
        background-color: var(--fundo-secundário);
       
        border-radius: 8px;
        display: grid;
        grid-template-columns: 1fr;
   
   }

    

   article {
        background-color: var(--fundo-principal);
        padding: 50px;
        border-radius: 8px;
        margin: 10px 0;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.199);
        display: grid;
        grid-template-columns: 1fr;

   }

   #headline-01 {
        
        background-image: url(imagens/campo-marca640.jpg);
        
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        background-position: center right;
        padding: 150px 0; 
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
        
      
   }

   div.headline {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.349);
    font-weight: bold;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 70%;
    text-align: center;
    margin: auto;
    color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.285);
  
   
    
   }

   div#headline-01 h3 {
    color: white;
    text-align: center;
   }

   article#headline-01 h3 {
        margin-bottom: 20px;
   }

   article#headline-01 p {
        text-indent: 0;
   }

  #article-sobre {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    
  }

.container-sobre{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-sobre h1 {
    text-align: center;
    margin: 30px 0;
}

.texto-sobre {
    text-align: center;
}

.texto-sobre h2 {
    margin: 10px 0;
}


.foto-psicologa {
    margin-bottom: 30px;
}

.foto-psicologa img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    display: block;
}



.container-lista {
    display: flex;
    flex-direction: column;
    gap:40px;
}

.container-lista img{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    display: block;
 }

.container-lista {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


    .container-lista ul {
        list-style-type: none;
        list-style-position: inside;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .formacao h1 {
        margin-bottom: 30px;
        text-align: center;
    }

    .lista-formacao ul {
        list-style-type: none;
        list-style-position: inside;
    }

    .container-terapia {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #terapia-ind {
        background-image: url(imagens/marca-dagua-640.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

    #terapia-ind h1 {
        margin: 30px 0;
        text-align: center;
    }

    .terapia-ind-01 h2 {
        margin: 30px 0;
        text-align: center;
    }

    .borda-02 p {
        margin-top: 10px;
    }

    .borda-02 .paragrafo {
        margin-top: -20px;
    }

    #depoimentos h1 {
        margin-bottom: 30px;
        text-align: center;
    }
   
    .terapia-ind-01 ul{
        list-style-type: none;
        list-style-position: inside;
        margin-bottom: 30px;
    }


    div.terapia-ind h1 {
        margin-bottom: 30px;
        text-align: center;
    }

    div.terapia-ind h2 {
       margin: 30px 0;
       text-align: center;
    }

    div.terapia-ind h3 {
       margin: 25px 0;
       text-align: left;
        
    }

    .terapia-casal-01 ul {
        list-style-type: none;
        list-style-position: inside;
        margin-bottom: 30px;
    }

    .terapia-casal-01 h2 {
        margin: 30px 0;
        text-align: center;
   }

   .terapia-casal-01 h3 {
    margin: 25px 0;
    text-align: left;
   }

   .borda-03 {
    border: 2px solid black;
    padding: 10px;
   }

   .dep-terapia-ind p {
    margin-bottom: 20px;
   }

    .borda-final {
       border: 2px solid black;
   }

   .borda-final .paragrafo-01 {
    margin-bottom: 30px;
   }

   .dep-terapia-casal p {
    padding: 10px;
     margin-bottom: 20px;
   }

   .total-dep {
    display: flex;
    flex-direction: column;
    gap: 30px;
   
   }

   .depoimentos h1 {
    text-align: center;
   }

   .total-dep h1 {
    text-align: center;
   }

   .total-dep h2 {
    text-align: center;
    margin: 20px 0;
   }

   .total-dep h3 {
    text-align: center;
    margin: 20px 0;
   }

   .dep-terapia-ind h2 {
    margin: 20px 0;
   }

   .convite-01 h1 {
    text-align: center;
    margin-bottom: 30px;
   }

  
   article.convite h2 {
    margin-bottom: 30px;
    text-align: left;
   }


    p {
        text-indent: 2em;
    }

  

    h1, h2, h3 {
        font-family: var(--fonte-titulo); 
        
    }
    
    h1 {
        color: rgb(38, 38, 107);
    }

    .botao-central {
        display: flex;
        justify-content: center;
        align-items: center;
    }

   .botao h2 {
    margin-bottom: 30px;
   }

   .botao a {
    background-color: var(--azul-destaque);
    padding: 12px 20px;
    text-decoration: none;
    color:white;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
    
   }

   .botao a:hover {
    background-color: var(--azul-médio-suave);
    color: var(--texto-principal);
    text-decoration: underline;
   }

    footer p {
        padding: 20px;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        background-color: var(--azul-destaque);
        color: white;
    }

@media screen and (min-width: 768px) {

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: sticky;

    }

    main {
        width: 90%;
        margin: auto;
    }

    article {
        margin: 15px;
    }

    #headline-01 {
        
        background-image: url(imagens/campo-marca640.jpg);
        
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center right;
        padding: 150px 0; 
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
        
      
   }

   #terapia-ind {
        background-image: url(imagens/marca-dagua-640.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
  
    .container-sobre {
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        gap: 50px;
    }

     .foto-psicologa {
        flex: 1;
    }

    .foto-psicologa img {
        max-width: 350px;
        border-radius: 10px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        overflow: hidden;
        display: block;
    }

    .texto-sobre {
        flex: 2;
        text-align: justify;
        margin-bottom: 40px;
    }

    .texto-sobre h2 {
        margin: 30px 0;
        text-align: center;
    }

    .container-lista {
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
    }

    .formacao h1 {
        text-align: left;
    }

    .borda-01 {
        border: 2px solid black;
        padding: 10px;
    }

    .borda-01 p {
        margin: 10px 0;
    }

    .borda-001 {
        margin-top: 20px;
    }

    .borda-02 {
        border: 2px solid black;
        padding: 10px;
    }

   
    .terapia-ind-01 h1 {
        text-align: left;
    }

    .terapia-ind-01 h2 {
        text-align: left;
    }

    #terapia-ind h1 {
        text-align: left;
    }

    .terapia-casal-01 h2 {
        text-align: left;
    }

    .container-terapia {
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
    }

    .total-dep {
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
    }

    .dep-terapia-ind {
        flex: 1;
    }

    .dep-terapia-casal {
        flex: 1;
    }
   
    .total-dep h1 {
        text-align: left;
        margin-bottom: 30px;
    }

    #depoimentos h1 {
        text-align: left;
    }

   .total-dep h2 {
    text-align: left;
   }

   .total-dep h3 {
    text-align: left;
   }

    .convite-01 h1 {
        text-align: left;
        margin-bottom: 30px;
    }

   body {
    font-size: 1.1em;
   }

    }

    

    

   

     

    

    
     

